* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    max-width: 82%;
    background-color: rgb(139, 60, 213);
    padding: 33px;
    margin: auto;
}

.container h3,
p {
    text-align: center;
}

input,
textarea {
    border: 2px solid black;
    border-radius: 6px;
    outline: none;
    font-size: 17px;
    width: 81%;
    margin: 11px;
    padding: 7px;

}

form {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;

}

.btn {
    color: rgb(214, 195, 195);
    background-color: rgb(180, 34, 180);
    padding: 9px 12px;
    font-size: 21px;
    border: 2px solid rgb(209, 198, 198);
    border-radius: 14px;
    cursor: pointer;
}